<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/images/favicon.ico">
  </head>

  <body>

    <div id="input-container">

      <h1 style="position: fixed">LIVE Telemetry</h1>

      <ul id="input-container-list">

        <li class="input-list-item" id="input-lat">
          <div class="title-container">
            <span>Lat:</span>
          </div>
          <div class="data-container" id="data-field-1">
            <span class="data-element">NULL</span>
          </div>
        </li>

        <li class="input-list-item" id="input-long">
          <div class="title-container">
            <span>Long:</span>
          </div>
          <div class="data-container" id="data-field-2">
            <span class="data-element">NULL</span>
          </div>
        </li>

        <li class="input-list-item" id="input-alt">
          <div class="title-container">
            <span>Alt:</span>
          </div>
          <div class="data-container" id="data-field-3">
            <span class="data-element">NULL</span>
          </div>
        </li>

        <li class="input-list-item" id="input-time">
          <div class="title-container">
            <span>Time:</span>
          </div>
          <div class="data-container" id="data-field-4">
            <span class="data-element">NULL</span>
          </div>
        </li>


        <li class="input-list-item" id="input-temp">
          <div class="title-container">
            <span>Temp:</span>
          </div>
          <div class="data-container" id="data-field-5">
            <span class="data-element">NULL</span>
          </div>
        </li>


        <li class="input-list-item" id="input-vel">
          <div class="title-container">
            <span>Vel:</span>
          </div>
          <div class="data-container" id="data-field-6">
            <span class="data-element">NULL</span>
          </div>
        </li>

        <li class="input-list-item" id="input-acc">
          <div class="title-container">
            <span>Acc:</span>
          </div>
          <div class="data-container" id="data-field-7">
            <span class="data-element">NULL</span>
          </div>
        </li>

        <li class="input-list-item" id="input-sat">
          <div class="title-container">
            <span>Satellites:</span>
          </div>
          <div class="data-container" id="data-field-8">
            <span class="data-element">NULL</span>
          </div>
        </li>

      </ul>

      <img id="mrt_logo" src="images/MRT_logo.png" alt="MRT Logo">

    </div>

    <div id="main-container">

        <div id="title-container">
            <h1 style="display: flex; margin-left: 180px;">The Official MRT Avionics GUI</h1>
        </div>

        <div style="height: 33px;"></div>
        <div id="graph-wrapper">
            <div class="graph-container" id="graph-alt" ></div>
            <div class="graph-container" id="graph-temp" ></div>
            <div class="graph-container" id="graph-position" ></div>
            <div class="graph-container" id="graph-vel" ></div>
            <div class="graph-container" id="graph-acc" ></div>
        </div>

        <footer>
            <span id="copyright">McGill Rocket Team &copy;2018</span>
        </footer>

    </div>


    <!-- JS code -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/bower_components/highcharts/highstock.js"></script>
    <script src="/bower_components/highcharts/modules/exporting.js"></script>
    <script src="/bower_components/highcharts/modules/offline-exporting.js"></script>
    <script src="/javascripts/scripts.js"></script>

  </body>
</html>
