body {
  padding: 0px 50px 50px 50px;
  margin-top: 0px;
  font-size: 14px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: row;
}

a {
  color: #00B7FF;
}

#input-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-left: auto;
}

#input-container-list {
  list-style-type: none;
  position: fixed;
  margin-top: 85px;
  padding-left: 15px;
}

.input-list-item {
  display: flex;
  flex-direction: row;
  //width: 200px;
  height: 35px;
}

.title-container {
  display: flex;
  width: 125px;
  height: inherit;
  //margin-right: 20px;
}

.data-container {
  display: flex;
  //width: 50px;
  height: inherit;
}

.data-element {
  list-style-type: none;
}

#main-container {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-left: 0px;
  margin-right: auto;
}

#title-container {
  display: flex;
  width: 100%;
  background-color: white;
  position: fixed;
}

#graph-container {
  display: flex;
  margin-top: 50px;
  z-index: -1;
}

.graph-container {
  width: 800px;
  height: 400px;
  margin-bottom: 100px;
}

#logo-container {
  display: flex;
  flex-direction: column;
}

#mrt_logo {
  width: 200px;
  height: 200px;
  position: fixed;
  margin-top: 425px;
}

footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

#copyright {
  margin: auto;
}