body {
  padding: 50px;
  font-size: 14px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#main-container {
  display: flex;
  flex-direction: column;
  width: 900px;
  margin: auto;
}

#input-container {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

#input-container-list {
  list-style-type: none;
  width: 300px;
}

.input-list-item {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 35px;
}

.title-container {
  display: flex;
  width: 125px;
  height: inherit;
  margin-right: 20px;
}

.data-container {
  display: flex;
  width: 50px;
  height: inherit;
  /*border: 1px solid black;*/
}

.data-element {
  list-style-type: none;
}

.graph-container {
  width: 500px;
  height: 500px;
  margin-bottom: 50px;
}